.backgroundContainer {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed; /* Make the container fixed */
    top: 0;
    left: 0;
    z-index: -1;
}

.backgroundContainer img {
    width: 100vw;
    object-fit: cover;
    filter: grayscale(100%) contrast(250%);
    position: absolute; /* Ensure the image is positioned absolutely within the container */
    top: -50px; /* Move the image up by 50px (adjust as needed) */
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.2s ease-out;
}


@media screen and (max-width: 760px) {
    
    .backgroundContainer img {
        height: 100vh;
        object-fit: cover;
        top: 0;
    }
    
}